/* =======================================================
    ALL VARIABLES. YOU CAN CHANGE VALUE AS PER YOUR NEED
 ========================================================= */

// COLORS
$color-primary: #aa6ef7;
$color-secondary: #fcbf4c;
$color-dark: #14141f;
$color-dark-2: #121117;
$color-grey-1: #a2a2a2;
$color-purple: #822cf3;
$color-white: #fff;
$color-black: #000;

// GRADIENT COLORS
$gradient-1: linear-gradient(99.36deg, #fcbf4c -3.97%, #822cf3 112.84%);

// BOX SHADOWS
$box-shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$soft-shadow-1: 6px 6px 12px #16191c, -6px -6px 12px #20252a;
$soft-shadow-2: inset 5px 5px 5px #171a1d, inset -5px -5px 5px #1f2429;


// Borders
$grey-border: .5px solid rgba(255, 255, 255, 0.2);