/* ====================================================
    MOBILE NAVBAR SECTION
 ====================================================== */
.hamburger {
    color: $color-white;
    font-size: 30px;
    display: none;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;

    @media (max-width: 991px) {
        display: block !important;
    }

    @media (max-width: 575px) {
        right: 15px;
    }
}

.mobile-nav-one-wrapper {
    .mobile-nav {
        position: fixed;
        right: -540px;
        top: 0;
        width: 500px;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: scroll;
        transition: right 0.5s ease-in;
        background: #0c0812;
        padding: 20px;
        z-index: 999;

        @media (max-width: 767px) {
            width: 320px;
            right: -440px;
        }

        &.show {
            right: 0px;
        }

        .close-nav {
            border: 0;
            background: transparent;
            color: #fff;
            border-radius: 30px;
            font-size: 20px;
            position: absolute;
            left: 20px;
            top: 10px;
        }

        /* Vertical Menu Style */
        .sidebar-nav {
            margin-top: 30px;
        }
        .sidebar-nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: transparent;
        }
        .sidebar-nav .metismenu {
            display: flex;
            flex-direction: column;
        }
        .sidebar-nav .metismenu > li {
            position: relative;
            display: flex;
            flex-direction: column;
        }
        .sidebar-nav .metismenu a {
            font-size: 16px;
            position: relative;
            display: block;
            padding: 10px 15px;
            transition: all 0.3s ease-out;
            text-decoration: none;
            color: #fff;
            outline-width: 0;
            text-transform: capitalize;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
        .sidebar-nav .metismenu ul a {
            padding: 10px 15px 10px 35px;
            position: relative;

            &:hover {
                padding-left: 40px;
                &::before {
                    background-color: #fff;
                }
            }

            &::before {
                position: absolute;
                left: 15px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid #fff;
                content: "";
                top: 50%;
                transition: all 0.3s ease-in-out;
                transform: translateY(-50%);
            }
        }
        .sidebar-nav .metismenu ul ul {
            list-style-type: circle !important;
        }
        .sidebar-nav .metismenu ul ul a {
            padding: 10px 15px 10px 45px;
        }
        .sidebar-nav .metismenu a:hover,
        .sidebar-nav .metismenu a:focus,
        .sidebar-nav .metismenu a:active {
            text-decoration: none;
            color: #f8f9fa;
            background: $color-primary;
        }
    }

    .action-bar {
        margin-top: 30px;
        padding-left: 20px;
        a {
            color: #fff;
            display: block;
            margin-top: 12px;

            i {
                margin-right: 10px;
            }

            &.theme-btn {
                text-align: center;
            }
        }
    }

    .social-icons {
        font-size: 16px;
        // color: $color-grey-1;
        cursor: pointer;
        margin: 30px 0px;

        a {
            margin-right: 20px;
        }
    }
}
